{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3 class="mt-5">Expanses</h3>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-light rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{expense.expansename}}</div>
                        <div class="col-md-2">{{expense.amount}}</div>
                        <div class="col-md-2">{{expense.date}}</div>
                        <div class="col-md-2">
                            <span class="badge badge-primary">{{expense.category}}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="update_expense/{{expense.id}}" class="btn btn-sm btn-info">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a href="delete_expense/{{expense.id}}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}